azure==1.0.3
azure-common==1.1.4
azure-mgmt==0.20.2
azure-mgmt-common==0.20.0
azure-mgmt-compute==0.20.1
azure-mgmt-network==0.20.1
azure-mgmt-nspkg==1.0.0
azure-mgmt-resource==0.20.1
azure-mgmt-storage==0.20.0
azure-nspkg==1.0.0
azure-servicebus==0.20.1
azure-servicemanagement-legacy==0.20.2
azure-storage==0.20.3
boto==2.46.1
bz2file==0.98
click==6.7
Flask==0.12
gensim==1.0.1
itsdangerous==0.24
Jinja2==2.9.5
MarkupSafe==1.0
nltk==3.2.2
numpy==1.12.0+mkl
python-dateutil==2.6.0
requests==2.13.0
scipy==0.18.1
six==1.10.0
smart-open==1.5.1
textblob==0.12.0
Werkzeug==0.12.1
